.icon-analytics {
  background-image: url(../img/sprite.png);
  background-position: -250px 0px;
  width: 110px;
  height: 98px; }

.icon-arrow-orange {
  background-image: url(../img/sprite.png);
  background-position: -360px -79px;
  width: 68px;
  height: 78px; }

.icon-arrow-white {
  background-image: url(../img/sprite.png);
  background-position: -360px 0px;
  width: 68px;
  height: 79px; }

.icon-baby {
  background-image: url(../img/sprite.png);
  background-position: 0px -361px;
  width: 71px;
  height: 62px; }

.icon-docs {
  background-image: url(../img/sprite.png);
  background-position: -250px -98px;
  width: 91px;
  height: 110px; }

.icon-edu {
  background-image: url(../img/sprite.png);
  background-position: -270px -234px;
  width: 84px;
  height: 46px; }

.icon-facebook {
  background-image: url(../img/sprite.png);
  background-position: -360px -252px;
  width: 36px;
  height: 36px; }

.icon-horn {
  background-image: url(../img/sprite.png);
  background-position: -110px -234px;
  width: 82px;
  height: 58px; }

.icon-instagram {
  background-image: url(../img/sprite.png);
  background-position: -360px -216px;
  width: 36px;
  height: 36px; }

.icon-magnet {
  background-image: url(../img/sprite.png);
  background-position: -139px -126px;
  width: 106px;
  height: 107px; }

.icon-money {
  background-image: url(../img/sprite.png);
  background-position: -192px -234px;
  width: 78px;
  height: 53px; }

.icon-organization {
  background-image: url(../img/sprite.png);
  background-position: -126px 0px;
  width: 124px;
  height: 123px; }

.icon-presentation {
  background-image: url(../img/sprite.png);
  background-position: -112px -301px;
  width: 33px;
  height: 33px; }

.icon-scheme {
  background-image: url(../img/sprite.png);
  background-position: 0px -126px;
  width: 139px;
  height: 108px; }

.icon-star {
  background-image: url(../img/sprite.png);
  background-position: -396px -216px;
  width: 30px;
  height: 28px; }

.icon-stars {
  background-image: url(../img/sprite.png);
  background-position: 0px -234px;
  width: 110px;
  height: 67px; }

.icon-team {
  background-image: url(../img/sprite.png);
  background-position: 0px -301px;
  width: 76px;
  height: 60px; }

.icon-time-gears {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 126px;
  height: 126px; }

.icon-vk {
  background-image: url(../img/sprite.png);
  background-position: -76px -301px;
  width: 36px;
  height: 36px; }

.icon-wow {
  background-image: url(../img/sprite.png);
  background-position: -360px -157px;
  width: 59px;
  height: 59px; }
