@import "../libs/fancybox/dist/jquery.fancybox.css"
@import "../libs/slick-carousel/slick/slick.css"
@import "../libs/slick-carousel/slick/slick-theme.css"
@import "sprite.sass"
@import "grid.sass"
@import "fonts.sass"

$color-1: #fff
$color-2: #3c3c3c
$color-3: #f7941f
$font-size: 17px
$font-family-1: 'Proxima Nova', sans-serif
$transition-speed: .3s

*
	margin: 0
	padding: 0
	border: 0
	box-sizing: border-box

body
	font-size: $font-size
	font-family: $font-family-1
	color: $color-1
	background: white
	box-sizing: border-box
	font-weight: 400
	font-style: normal

h1, h2, h3, h4, h5, h6
	font-size: inherit
	font-weight: inherit


ul
	font-size: 0
	li
		font-size: $font-size
	&.li_line
		li
			display: inline-block

	&.li_reset
		li
			list-style-type: none



span
	position: relative
	display: inline-block


.c
	&-black
		color: $color-2
		a
			color: $color-2
	&-orange
		color: $color-3
		a
			color: $color-3
a
	color: $color-1
	text-decoration: none
	border-bottom: 1px solid transparent
	transition: $transition-speed




.button
	display: block
	width: 225px
	height: 45px
	line-height: 47px
	text-align: center
	text-transform: uppercase
	font-size: 13px
	font-weight: 600
	letter-spacing: 3px
	border-radius: 30px
	cursor: pointer
	background: white
	color: $color-3
	transition: background .3s
	&_orange
		color: $color-1
		background-color: $color-3
	&_hover-white
		&:hover
			color: $color-3
			background-color: $color-1
	&_hover-black
		&:hover
			color: $color-1
			background-color: $color-2
	&_big
		width: 308px
		height: 61px
		line-height: 64px

.icon
	display: inline-block
	vertical-align: middle


.in-middle
	margin-left: auto
	margin-right: auto

.title
	font-size: 50px

.subtitle
	font-size: 30px

.title, .subtitle
	font-weight: 900
	text-align: center

.phone
	cursor: default


.phone
	font-size: 24px
	font-weight: 700
	margin-bottom: 5px

.time, .email
	font-size: 16px

.email

	border-bottom: 1px solid $color-2
	&:hover
		border-bottom: 1px solid transparent

.arrows
	&-white
		.slick-arrow
			@include sprite($arrow-white)
		.slick-prev
			left: -(140px + 68px)
		.slick-next
			right: -(140px + 68px)

	&-orange
		.slick-arrow
			@include sprite($arrow-orange)
		.slick-prev
			left: -(43px + 68px)
		.slick-next
			right: -(43px + 68px)

.slick-arrow
	&:before
		display: none
.slick-prev
	margin-top: 39px
.slick-next
	transform: rotate(180deg)


::placeholder
	color: white
	font-size: 17px
	font-family: $font-family-1


.input, .button, .slick-slide
	outline: none

.input
	width: 100%
	display: block
	line-height: 53px
	height: 53px
	background: rgba(255,255,255,.2)
	padding-left: 21px
	font-style: italic
	transition: .3s
	font-size: 17px
	color: $color-2
	&:focus
		background: white
	&:not(:focus)
		color: $color-1

.header
	padding-bottom: 250px
	background: url('../img/bg/header.png') no-repeat center bottom
	background-size: cover
	&__content
		margin-top: 80px
		text-align: center
	&__title
		line-height: 48px
	&__subtitle
		margin-bottom: 20px
		font-size: 37px
	&__desc
		font-size: 20px
		margin-bottom: 34px

	
.panel
	padding-top: 16px
	transition: padding .3s
	.container
		padding-left: 0
		padding-right: 0
	&__logo
		margin-right: 89px
	&__button
		margin-top: 20px
	&__contacts
		margin-top: 20px
		float: right
		text-align: right

	&_fixed
		z-index: 999
		position: fixed
		top: 0
		left: 0
		width: 100%
		background-color: #223052
		padding-top: 7px
		padding-bottom: 5px
		.container
			padding-left: 15px
			padding-right: 15px
		+ .header__content
			padding-top: 141px


.partners
	text-align: center
	font-size: 0
	&_top
	 	padding-top: 25px
	 	padding-bottom: 15px
	&_bottom
		padding-top: 75px
		padding-bottom: 60px
		.partners
			&__title
				margin-bottom: 49px
		.partner
			margin-bottom: 20px

.partner
	display: inline-block
	vertical-align: top
	padding: 0 15px
	height: 90px
	line-height: 90px
	border: 1px solid #eaeaea
	margin: 0 5px 10px
	img
		max-width: 115px
		max-height: 70px
		vertical-align: middle

.causes
	padding-top: 80px
	padding-bottom: 100px
	background: url('../img/bg/causes.png') no-repeat top center
	background-size: cover
	.container
		padding-left: 47px
		padding-right: 47px
	&__title
	&__desc
		margin-top: 10px
		margin-bottom: 70px
	

.cause
	&__count, &__subtitle
		display: inline-block
		vertical-align: middle
	&__count
		font-size: 111px
		font-weight: 900
		margin-right: 27px
	&__subtitle
		font-size: 24px
		line-height: 30px
		font-weight: 600
		strong
			font-weight: 900
	&__text
		line-height: 22px
		
	&__icons
		width: 840px
		height: 560px
		position: relative
		
	&__icon
		position: absolute
		&-1
			left: 567px
			margin-bottom: 43px
			&:before
				position: absolute
				content: ''
				background: url('../img/bg/lines/cause-1-before.png')
				width: 400px
				height: 202px
				left: -505px
				top: 30px
			&:after
				position: absolute
				content: ''
				background: url('../img/bg/lines/cause-1-after.png')
				width: 164px
				height: 254px
				bottom: -90px
				left: -230px
		&-2
			left: 113px
			top: 270px
			.cause__icon-text
				width: 220px
			&:after
				position: absolute
				content: ''
				background: url('../img/bg/lines/cause-2-after.png')
				width: 503px
				height: 251px
				bottom: -85px
				left: -81px
		&-3
			right: 0
			bottom: -20px
			.cause__icon-text
				width: 240px
		&-title
			font-size: 35px
			font-weight: 900
			position: relative
			margin-bottom: 25px
			&:before
				content: ''
				position: absolute
				top: -10px
				left: (-59px - 22px)
				@include sprite($wow)
		&-text
			width: 245px
			line-height: 22px
			font-weight: 600
			p
				margin-bottom: 20px
				&:last-of-type
					margin-bottom: 0
	&-1
		margin-bottom: 10px
	&-2
		.cause
			&__text
				margin-bottom: 37px
	&-3
		margin-top: 60px
		.cause
			&__head
				margin-bottom: 15px
			&__text
				width: 360px
				font-weight: 600
				line-height: 22px
				margin-right: 70px
				p
					margin-bottom: 22px
					&:last-of-type
						margin-bottom: 0
			&__events
				position: relative
				.event
					position: absolute
					&:nth-of-type(1)
						top: 118px
						left: 0
						width: 135px
					&:nth-of-type(2)
						top: -50px
						left: 250px
						&:before
							position: absolute
							display: block
							content: ''
							background: url('../img/bg/lines/cause-3.png')
							width: 123px
							height: 82px
							bottom: -40px
							left: -155px


.map
	background: url('../img/bg/map.png') no-repeat center top
	width: 860px
	height: 470px
	position: relative
	.event
		position: absolute
		&:nth-of-type(1)
			top: 282px
			left: 180px
			&:after
				content: ''
				position: absolute
				right: -250px
				top: -120px
				background: url('../img/bg/schedule.png')
				width: 223px
				height: 169px
		&:nth-of-type(2)
			top: 97px
			left: 583px
			width: 240px


.event
	&__count
		font-size: 33px
		line-height: 33px
		font-weight: 900
	&__text
		font-size: 13px
		line-height: 17px
		font-weight: 700
		&:after
			content: ''
			display: block
			height: 4px
			width: 73px
			background: $color-3
			margin-top: 5px
			margin-bottom: 5px
	&__date
		font-size: 24px
		font-weight: 900

	&_big
		width: 195px
		.event
			&__count
				font-size: 48px
			&__text
				margin-top: 5px
				font-size: 18px
				line-height: 24px
				&:after
					margin-top: 15px
					width: 89px




.festival
	padding-top: 63px
	padding-bottom: 90px
	background: url('../img/bg/face.png') no-repeat center 
	&__list
		margin-top: 85px
		padding-left: 60px
		padding-right: 50px
	&__item
		&:first-of-type
			margin-bottom: 110px
	&__head
		&:after
			content: ''
			display: block
			width: 215px
			height: 4px
			background: $color-3
			margin-top: 10px
			margin-bottom: 10px
	&__icon
		display: inline-block
		vertical-align: middle
		margin-right: 12px
		width: 84px
	&__subtitle
		display: inline-block
		vertical-align: middle
		width: 140px
		font-size: 13px
		line-height: 17px
		font-weight: 700
	&__body
		font-size: 18px
		line-height: 24px
		font-weight: 600
	&__left, &__right
		width: 245px
	&__middle
		width: 310px
		padding-top: 70px
		margin-left: 30px
		margin-right: 40px
		.festival__item
			margin-left: 45px
	&__button
			

.trusted
	padding-top: 75px
	padding-bottom: 75px
	background: url('../img/bg/trusted.png') no-repeat center top
	background-size: cover
	.slick-arrow
		top: 39px
	&__subtitle
		margin-top: 50px
		text-align: center
		font-size: 24px
		line-height: 30px
		font-weight: 600
		margin-bottom: 60px
	&__list
		max-width: 790px
		width: 100%
		margin-left: auto
		margin-right: auto


.org
	padding: 15px 30px 50px 25px
	background-color: #223052
	&__head
		margin-bottom: 15px
	&__data
		padding-top: 15px
		width: 535px
	&__title
		font-size: 17px
		line-height: 20px
		font-weight: 900
		padding-bottom: 15px
		margin-bottom: 12px
		border-bottom: 1px solid white
	&__item
		display: inline-block
		vertical-align: middle
		&:nth-of-type(1)
			width: 200px
			margin-right: 40px
		&:nth-of-type(2)
			width: 250px
	&__text
		font-size: 12px
		line-height: 14px
		font-weight: 600
		margin-left: 14px
	&__icon, &__text
		display: inline-block
		vertical-align: middle
	&__logo
		float: right
		width: 165px
		height: 120px
		line-height: 120px
		background: white
		text-align: center
		img
			display: inline-block
			vertical-align: middle
			max-width: 160px
			max-height: 110px
	&__body
		margin-top: 25px
		margin-bottom: 20px
		padding-top: 18px
		padding-bottom: 18px
		border-top: 2px solid white
		border-bottom: 2px solid white
		font-size: 15px
		font-weight: 500
		p
			margin-bottom: 15px
			&:last-of-type
				margin-bottom: 0

.photos
	img
		display: block
		width: 100%
		max-width: 100%

.feedback
	&__img
		width: 130px
		height: 180px
		line-height: 180px
		img
			max-width: 130px
			max-height: 180px
			display: inline-block
			vertical-align: middle
	&__content
		float: right
		padding-top: 30px
		width: calc(100% - 215px)
		font-weight: 600
	&__text
		font-style: italic
		line-height: 21px
		margin-bottom: 15px

	&__author
		text-align: right
		font-size: 12px
		line-height: 14px
		strong
			font-weight: 900

.program
	padding-top: 60px
	padding-bottom: 85px
	&__desc
		margin-bottom: 55px
	&__list
		position: relative
		height: 1260px
	&__img
		img
			display: block
	&__content
		font-weight: 600
		font-size: 18px
		line-height: 24px
		&:after
			content: ''
			display: block
			width: 106px
			height: 3px
			background: $color-3
			margin-top: 21px
	&__img, &__content
		display: inline-block
		vertical-align: top
	&__item
		position: absolute
		display: none
		&:before
			content: ''
			z-index: -1
			display: block
			position: absolute
		&:nth-of-type(1)
			display: block
			top: 21px
			left: 131px
			&:before
				width: 422px
				height: 18px
				left: 0
				top: 89px
				background: url('../img/bg/lines/program-1.png')
			.program__content
				margin-top: 150px
				margin-left: 12px
		&:nth-of-type(2)
			display: block
			top: 0
			right: 50px
			&:before
				width: 39px
				height: 275px
				top: 110px
				left: 115px
				background: url('../img/bg/lines/program-2.png')
			.program__content
				margin-top: 78px
				margin-left: 22px
		&:nth-of-type(3)
			display: block
			top: 310px
			right: 62px
			&:before
				width: 75px
				height: 203px
				top: 103px
				left: -11px
				background: url('../img/bg/lines/program-3.png')
			.program__content
				margin-top: 78px
				margin-left: 24px

		&:nth-of-type(4)
			display: block
			top: 353px
			left: 203px
			&:before
				width: 330px
				height: 30px
				top: 33px
				left: 169px
				background: url('../img/bg/lines/program-4-before.png')
			&:after
				content: ''
				z-index: -1
				display: block
				position: absolute
				width: 232px
				height: 422px
				top: 63px
				left: -93px
				background: url('../img/bg/lines/program-4-after.png')
			.program__content
				margin-top: 78px
				margin-left: 27px

		&:nth-of-type(5)
			display: block
			top: 582px
			right: 121px
			
			.program__content
				margin-top: -6px
				margin-left: 21px

		&:nth-of-type(6)
			display: block
			top: 692px
			left: 17px
			&:before
				width: 130px
				height: 614px
				bottom: 184px
				left: 90px
				background: url('../img/bg/lines/program-6.png')

			.program__content
				margin-top: 5px
				margin-left: 25px

		&:nth-of-type(7)
			display: block
			top: 822px
			right: 71px
			&:before
				width: 565px
				height: 69px 
				top: 15px
				right: (96px + 106px)
				background: url('../img/bg/lines/program-7.png')
			.program__content
				margin-top: 39px
				margin-left: 30px

		&:nth-of-type(8)
			display: block
			top: 945px
			right: 324px
			&:before
				width: 262px
				height: 238px
				bottom: 82px
				right: (148px + 106px)
				background: url('../img/bg/lines/program-8.png')
			.program__content
				margin-top: 39px
				margin-left: 30px
		&:nth-of-type(9)
			display: block
			top: 1043px
			left: 41px
			&:before
				width: 10px
				height: 376px
				bottom: 78px
				left: 100px
				background: url('../img/bg/lines/program-9.png')
			.program__content
				margin-top: 122px
				margin-left: 23px
		&:nth-of-type(10)
			display: block
			top: 1121px
			right: 94px
			&:before
				width: 14px
				height: 298px
				bottom: 56px
				left: 65px
				background: url('../img/bg/lines/program-10.png')
			.program__content
				margin-top: -15px
				margin-left: 23px

.calc
	padding-top: 60px
	padding-bottom: 28px
	background: $color-3
	&__title
		margin-bottom: 48px
	&__table
		padding-left: 50px
		padding-right: 50px
	&__item
		margin-bottom: 32px
		&:last-of-type
			margin-bottom: 0
	&__icon, &__content
		display: inline-block
		vertical-align: middle
	&__icon
		width: 40px
		height: 40px
		position: relative
		margin-top: 4px
		i
			top: -10px
			left: -10px
			position: absolute
			transform: scale(.68)
	&__subtitle
		font-weight: 900
		margin-bottom: 3px
	&__data
		.col
			&:nth-of-type(2)
				margin-left: 27px
				padding-top: 45px

	&__content
		margin-left: 21px

	&__form
		width: 308px
		float: right
		.input
			margin-bottom: 12px
		.button
			margin-top: 21px
			// &:hover
			// 	color: white
			// 	background: rgba(255, 255, 255, 0.2)

.order
	padding-top: 50px
	padding-bottom: 63px
	background: url('../img/bg/order.jpg') center
	background-size: cover
	&__desc
		margin-bottom: 82px
	&__list
		padding-left: 60px
	&__item
		margin-bottom: 60px
		&:nth-of-type(even)
			margin-left: (176px + 106px)
		&:nth-of-type(3)
			.order__subtitle
				margin-top: 20px
		&:nth-of-type(4)
			.order__icon
				i
					margin-left: 25px
		&:nth-of-type(5)
			.order__icon
				i
					margin-left: 15px
		&:nth-of-type(6)
			.order__subtitle
				margin-top: 30px
		&:last-of-type
			margin-bottom: 0
	&__icon, &__content
		display: inline-block
		vertical-align: top
	&__icon
		width: 140px
		margin-right: 25px
	&__content
		li
			list-style: none
			display: block
	&__subtitle
		font-size: 24px
		font-weight: 600
		line-height: 30px
		+ ul
			margin-top: 50px
			margin-left: 68px
			li
				line-height: 24px
				margin-bottom: 20px
				font-weight: 600
				position: relative
				&:before
					content: ''
					display: block
					position: absolute
					top: calc(50% - 6.5px)
					left: -(23px + 13px)
					width: 13px
					height: 13px
					background: white
					border-radius: 50%
				&:after
					content: ''
					display: block
					position: absolute
					width: 1px
					height: 130%
					top: 50%
					left: -29.5px
					background: white
				&.uno
					&:after
						height: 250%
				&.dos
					&:after
						height: 160%
				&.tres
					&:after
						height: 100%
				&:last-of-type
					margin-bottom: 0
					&:after
						display: none

.company
	background: url('../img/bg/company.png') center
	background-size: cover
	padding-top: 80px
	&__desc
		margin-bottom: 75px
	&__subtitle
		font-size: 24px
		line-height: 30px
		font-weight: 600
		margin-bottom: 55px
	&__subtitle, &__table, &__text
		margin-left: 85px
		margin-right: 85px
	
	&__table
		.company
			&__subtitle
				margin-left: 0
				margin-right: 0
				margin-bottom: 45px
		p
			line-height: 22px
			width: 345px
			font-weight: 600
		.col
			&:nth-of-type(2)
				padding-left: 90px
	&__right
		padding-top: 10px

	&__text
		margin-top: 60px
		padding-top: 37px
		padding-bottom: 37px
		text-align: center
		font-weight: 600
		line-height: 22px
		padding-left: 30px
		padding-right: 30px
		border-top: 1px solid $color-3
		border-bottom: 1px solid $color-3
		margin-bottom: 118px
		strong
			font-weight: 900

	
.num
	margin-bottom: 25px
	&:after
		content: ''
		display: block
		width: 106px
		height: 5px
		margin-top: 17px
		background-color: $color-3
	&__count
		font-size: 48px
		line-height: 48px
		font-weight: 900
	&__text, &__date
		font-size: 18px
		line-height: 24px
	&__date
		font-weight: 700



.team
	padding-bottom: 90px
	&__title
		margin-bottom: 118px
	.slick-arrow
		top: 30%
	.slick-prev
		left: -(43px + 68px)
	.slick-next
		right: -(43px + 68px)
.persona
	padding-left: 55px
	&__img
		margin-right: 22px
		width: 208px
		margin-bottom: 22px
		img
			max-width: 208px
			display: block
	&__title, &__desc
		line-height: 18px
	&__title
		font-size: 18px
		font-weight: 900
		margin-bottom: 3px
	&__quote
		width: 150px
		font-weight: 600
		line-height: 21px
		font-style: italic
		&:before
			content: ''
			display: block
			position: relative
			width: 44px
			height: 6px
			background-color: $color-3
			margin-bottom: 22px

.reviews
	&__list
		margin-top: 60px

	.slick-arrow
		top: 40%



.review
	border: 1px solid #c8c8c8 
	padding: 75px 44px 35px 40px
	&__quote
		margin-left: 70px
		width: 420px
		font-size: 26px
		line-height: 30px
		font-weight: 600
		font-style: italic
		position: relative
		&:before
			opacity: .7
			content: '«'
			top: -20px
			left: -93px
			position: absolute
			font-size: 150px
			font-weight: 900
			color: #f0f0f0
			font-style: normal
	&__logo
		float: right
	&__head
		margin-bottom: 40px
	&__body

		line-height: 21px
		padding-right: 25px
ul.desc
	li
		font-weight: 600
		display: block
		list-style-type: none
		line-height: 22px
		margin-bottom: 20px
		position: relative
		margin-left: 39px
		&:after
			content: ''
			display: block
			position: absolute
			background: $color-3
			width: 10px
			height: 10px
			top: 8px
			left: -34px
			border-radius: 50%
		&:last-of-type
			margin-bottom: 0

.footer
	margin-top: 70px
	&__top, &__bottom
		margin-left: 15px
		margin-right: 15px
	&__top
		padding-top: 39px
		padding-bottom: 23px
		border-bottom: 1px solid $color-3
	&__bottom
		padding-top: 33px
		padding-bottom: 25px
		font-size: 14px
		line-height: 24px
	&__socials
		font-size: 0
		padding-top: 15px
		padding-left: 80px
		li
			display: inline-block
			vertical-align: top
			margin-right: 35px
			&:last-of-type
				margin-right: 0
		a
			&:hover
				opacity: .6
	&__contacts
		text-align: right
		padding-top: 9px
	&__org
		padding-left: 80px
	&__links
		font-size: 0
		text-align: right
		li
			display: block
			list-style-type: none
		a
			font-size: 14px
			border-bottom: 1px solid $color-2
			&:hover
				border-bottom: 1px solid transparent